body {
    background-color: black;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font: normal normal medium 50px/59px;
    color: white;
    display: grid;
    place-content: center;
    letter-spacing: 0px;
    margin-top: 7px;
    margin-bottom: 7px;
}

header img {
    top: 73px;
    left: 0px;
    opacity: 1;
    background: transparent;
    width: 1280px;
    height: 727px;
}

.main {
    display: flex;
    align-items: center;
}

.content {
    flex: 1;
}

.content p {
    color: white;
    width: 475px;
    height: 197px;
    margin-left: 150px;
    margin-right: 20px;
    font: normal normal 300 16px/19px Raleway;
}

.main img {
    display: grid;
    padding-right: 80px;
    padding-top: 45px;
    padding-bottom: 66px;
    width: 399px;
    height: 237px;
    flex: end;
}

.caract {
    background: #1E1A13;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    top: 1141px;
    left: 0px;
    width: 1280px;
    height: 348px;
    padding-top: 75px;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #ffffff;
    margin: 0px;
  }

.flex i {
    margin: 30px;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
}

.gallery {
    display: flex;
    justify-content: center;
}

.gallery img {
    width: 316px;
    height: 202px;
    margin: 16px;
    padding-top: 73px;
    padding-bottom: 73px;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-around;
}

footer {
    top: 1835px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1280px;
    height: 102px;
    background-color: #1E1A13;
    font-family: 'Raleway', sans-serif;
    color: white;
    height: 3em;
    line-height: 3em;
    text-align: center;
    font-weight: 900;
}